
/*
@font-face {
  font-family: Quikhand;
  src:url(Quikhand.ttf);
*/
a:link {
  color: #4C21D9;
  font-size: 1em;
}
a:hover {
  color: #167DE5;
}
a:visited {
  color: #9B19F0;
}
a:active {
  color: #E110E5;
  font-size: 1.1em;
}
a {
  text-decoration: none;
}
h1, h2, h3 {
  font-family: Monaco, monospace;
  font-weight: bold;
  color: #A16B13;
}
body {
  background-color: #F9C571;
  color: #030F19;

  font-family: Helvetica;
}
#title {
  /*font-size:1.25em;*/
  margin:10px;
  
  /*color: #A16B13;*/
}
#wrapper {
  background-color: #FDCF90;

  border:solid 4px #543708;
  border-radius: 10px;

  margin: 5% auto 5% auto;
  padding: 15px;
  width: 85%;
}
#navBar {
  background-color: #AED8ff;

  border: solid 3px #030F19;
  border-radius: 6px;

  margin: 2% auto 2% auto;
  padding: 5px;
  width: 50%;

  text-align: center;

  font-weight: bolder;
  font-size: 1.125em;
  letter-spacing:-2px;
}
#navBar a {
	letter-spacing:1px;
}
