
/*
@font-face {
  font-family: Quikhand;
  src:url(Quikhand.ttf);
*/

h1,h2,h3 {
  font-family: Monaco, monospace;
  font-weight: bold;
  color: #A16B13;
}
body {
  background-color: #FCDF90;
  color: #030F19;

  font-family: Helvetica;
}
#wrapper {
  background-color: #EDA734;
  
  border:solid 1% black;
  border-radius: 3%;
  
  margin: auto 10% auto 10%;
}
